<html>

<head>
    <title>Admin</title>
    
</head>
<ul>
    <form action="/form.html" method="get">
        <% admins.forEach(function(admin){ %>
        <h1><%= admin %> <%= foo %></h1>
        <button  type="submit"><%= bt %></button>
        <% }); %>
    </form>

</ul>

</html>